body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* styling for the view highscore and timer */
.nav {
    display: flex;
    justify-content: space-between;
}

.nav p {
    margin: 15px;
    font-weight: bold;
}

/* styling for the quiz layout and font style */
.quiz-outer {
    display: flex;
    justify-content: center;
}

.quiz-inner {
    width: 80vw;
    max-width: 600px;
    margin: 100px;
    border-radius: 10px;
    padding: 30px;
}

.quiz-inner h1 {
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-bottom: 100px;
}

.quiz h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    background-color: #2bffe9;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    border: 1px solid #2bffe9;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.125s;
}

.btn:hover:not([disabled]) {
    transition: all 0.125s;
    padding: 20px 10px;
}


/* next button */

#nextbutton {
    background-color: #000;
    color: white;
    border: 1px solid black;
    float: right;
    padding: 6px 12px;
    border-radius: 12px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

/* style for the correct and incorrect answers after they are selected */
#correct {
    background-color: rgba(0, 173, 0, 0.5);
}

#incorrect {
    background-color: rgba(255, 0, 0, 0.541);
} 

/* styling for the form elements */

#initials {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    display: none;
}

#saveScoreBtn {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}